<ion-footer id="footer" *ngIf="feedback.show">
   <ion-img class="{{buttons[0]}}" src="assets/icon/{{this.feedback.iconsFooter[0]}}.png" (click)="redirect('/home')"></ion-img>
   <ion-img class="{{buttons[1]}}"  src="assets/icon/{{this.feedback.iconsFooter[1]}}.png" (click)="redirect('/subjects')"></ion-img>
   <ion-img class="{{buttons[2]}}"  src="assets/icon/{{this.feedback.iconsFooter[2]}}.png" (click)="redirect('/teachers')"></ion-img>
   <ion-img class="{{buttons[3]}}"  src="assets/icon/{{this.feedback.iconsFooter[3]}}.png" (click)="redirect('/learning')"></ion-img>
   <ion-img class="{{buttons[4]}}"  src="assets/icon/{{this.feedback.iconsFooter[4]}}.png" (click)="redirect('/calendar')"></ion-img>
</ion-footer>
