<ion-content class="initial">
    <div class="center">
        <ion-input placeholder="Correo" class="input-initial"></ion-input>
        <ion-input placeholder="Contraseña" class="input-initial"></ion-input>
        <ion-label class="labelsmall-initial" routerLink="/reset" routerDirection="forward">¿Olvidaste tu contraseña?</ion-label><br>
        <ion-button class="button-initial" id="buttonleft-initial" routerLink="/home" routerDirection="forward">Ingresar</ion-button>
        <ion-button class="button-initial" id="buttonright-initial" routerLink="/signin" routerDirection="forward">Regístrate</ion-button>
    </div>
</ion-content>
