<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let tarea of tareas" (click)="getTarea(tarea)">
      <ion-grid>
        <ion-row>
          <h2>{{tarea.data.descripcion}}</h2>
        </ion-row>
        <ion-row>
          <p>{{tarea.data.materia}}</p>
        </ion-row>
        <ion-row>
          <p>{{tarea.data.tipo}}</p>
        </ion-row>
        <ion-row>
          <p>{{tarea.data.fecha_crea}}</p>
        </ion-row>
        <ion-row>
          <p>{{tarea.data.fecha_ent}}</p>
        </ion-row>
        <ion-row>
          <p>{{tarea.data.puntaje}}</p>
        </ion-row>
        <ion-row>
          <p>{{tarea.data.punt_log}}</p>
        </ion-row>
        <ion-row>
          <ion-button (click)="clickButtonDelete(tarea.id)">Borrar</ion-button>
        </ion-row>
        <ion-row>
          <ion-button (click)="setTarea(tarea)">Modificar</ion-button>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
